groq
python-dotenv
rich
ddgs
python-docx
fpdf2
pypdf
pymupdf
psutil
playwright
pillow
openpyxl
pyttsx3
pillow
deep-translator
qrcode[pil]
SpeechRecognition
pyaudio
pynput
PyQt6
PyQt6-Qt6
PyQt6-sip
sounddevice
opencv-python-headless
